{% if faqList|length %}
    {% htmlcompress %}
    <script src="{{ asset('bundles/lightcorefaq/js/faq.js') }}"></script>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default faq-panel">
                        {% for faq in faqList %}
                        <div class="panel-heading{% if loop.first %} selected{% endif %}" data-target="#faq-{{ faq.slug }}">{{ faq.title }}</div>
                        <div id="faq-{{ faq.slug }}" class="panel-body"{% if loop.first == false %} style="display: none;"{% endif %}>
                            {{ faq.content|raw }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endhtmlcompress %}
{% endif %}