{% extends 'admin/base.html.twig' %}
{% trans_default_domain 'LightCoreFaqBundle' %}

{% block title %}Dodaj FAQ | {{ parent() }}{% endblock %}

{% block header %}
    <h1>
        Dodaj FAQ
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="{{ path('lightcore_faq_list') }}"><i class="fa fa-user"></i> Lista FAQ</a></li>
        <li class="active">Dodaj FAQ</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="box">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="box-body">
            {{ form_widget(form) }}
        </div>
        <div class="box-footer clearfix">
            <div class="btn-group">
                <button type="submit" class="btn btn-primary">Zapisz</button>
                <a href="{{ path('lightcore_faq_list') }}" class="btn btn-success">Lista</a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}