{% extends 'admin/base.html.twig' %}
{% trans_default_domain 'LightCoreFaqBundle' %}

{% block title %}Edytuj FAQ | {{ parent() }}{% endblock %}

{% block header %}
    <h1>
        Edytuj FAQ
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="{{ path('lightcore_faq_list') }}"><i class="fa fa-user"></i> Lista FAQ</a></li>
        <li class="active">Edytuj FAQ</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="box">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="box-body">
            {{ form_widget(form) }}
        </div>
        <div class="box-footer clearfix">
            <div class="btn-group">
                <button type="submit" class="btn btn-primary">Zapisz</button>
                <a href="{{ path('lightcore_faq_list') }}" class="btn btn-success">Lista</a>
                <a href="{{ path('lightcore_faq_remove', {'id': faq.id}) }}" class="btn btn-danger"
                   onclick="return confirm('Czy na pewno chcesz usunąć ten rekord?');">
                    Usuń
                </a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}