{% extends 'admin/base.html.twig' %}
{% trans_default_domain 'LightCoreFaqBundle' %}

{% block title %}Lista FAQ | {{ parent() }}{% endblock %}

{% block header %}
    <h1>
        Lista FAQ
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active"><i class="fa fa-user"></i> Lista FAQ</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="box">
        <div class="box-header">
            <div class="box-title">
                Total: {{ pagination.getTotalItemCount }} szt.
            </div>
            <a href="{{ path('lightcore_faq_add') }}" class="btn btn-success pull-right">Dodaj</a>
        </div>
        <div class="box-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="col-xs-1{% if pagination.isSorted('faq.id') %} sorted{% endif %}">
                            {{ knp_pagination_sortable(pagination, 'Id' , 'faq.id') }}
                        </th>
                        <th class="col-xs-4{% if pagination.isSorted('ft.slug') %} sorted{% endif %}">
                            {{ knp_pagination_sortable(pagination, 'Faq slug'|trans, 'ft.slug') }}
                        </th>
                        <th class="col-xs-5{% if pagination.isSorted('ft.title') %} sorted{% endif %}">
                            {{ knp_pagination_sortable(pagination, 'Title'|trans, 'ft.title') }}
                        </th>
                        <th class="col-xs-1">Akcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for faq in pagination %}
                        <tr>
                            <td>{{ faq.id }}.</td>
                            <td>{{ faq.slug }}</td>
                            <td>{{ faq.title }}</td>
                            <td>
                                <div class="btn-group">
                                    <a href="{{ path('lightcore_faq_edit', {'id': faq.id}) }}" class="btn btn-default">Edytuj</a>
                                    <a href="{{ path('lightcore_faq_remove', {'id': faq.id}) }}" class="btn btn-danger"
                                       onclick="return confirm('Czy na pewno chcesz usunąć ten rekord?');">
                                        Usuń
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5" class="text-center">Brak wyników</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box-footer clearfix">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}